@font-face {
    font-family: 'doro';
    src: url('A고속도로.TTF') format('truetype');
}

body {
    font-family: 'doro', sans-serif;
}

h1 {
    text-align: center;
}

.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}
  
.chart {
    margin: 10px;
    text-align: center;
    Margin-bottom: 30px;
}

.chart-title {
    font-family: 'doro', sans-serif;
    text-align: center;
}

.chart:nth-child(1),
.chart:nth-child(2) {
    flex-basis: calc(50% - 20px);
}

footer {
    text-align: center;
}