@font-face {
    font-family: 'doro';
    src: url('A고속도로.TTF') format('truetype');
}

body {
    text-align: center;
}

h1 {
    font-family: 'doro', sans-serif;
}

#tableau-viz {
    font-family: 'doro', sans-serif;
}
