@font-face {
    font-family: 'doro';
    src: url('A고속도로.TTF') format('truetype');
}

body {
    font-family: 'doro', sans-serif;
}

h1 {
    text-align: center;
}

.chart-wrapper-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart-wrapper-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.chart {
    text-align: center;
    margin: 30px; 
    width: calc(50% - 20px); 
    max-width: 700px; 
}
  
.chart-title {
    text-align: center;
    font-family: 'doro', sans-serif;
    font-size: 1.5em;
}