<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>STEAMGAME DASHBOARD</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">	
    </head>

<body>
    <header>
		<h1>Steam Game Dashboard</h1>
	</header>
    	<!-- 태블로 내장 코드 입력 -->
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/SteamAPI/sheet0' width='1920' height='929' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/SteamAPI/sheet2' width='1700' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/SteamAPI/sheet1' width='1500' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/2/sheet0' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/2/2' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/2/sheet2' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/2/2_1' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/_16884707920210/2' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
        <tableau-viz id='tableau-viz' src='https://prod-uk-a.online.tableau.com/t/steamgamedashboard/views/_16884707920210/3' width='1920' height='865' hide-tabs hideEditButton="true"></tableau-viz>
</body>
</html>

<script type='module' src='https://prod-uk-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>



