@font-face {
    font-family: 'doro';
    src: url('A고속도로.TTF') format('truetype');
}

body {
    font-family: 'doro', sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}
